#back-pattern {
  height: 100vh;
  width: 100vw;

  background-image: radial-gradient(
    rgba(2255, 255, 255, 0.1) 9%,
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;

  transition: opacity 800ms ease, background-position 400ms ease,
    background-size 800ms;
}

#back-image {
  height: 100%;
  width: 100%;

  background-image: url("/mainPage.jpg");

  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;

  background-position: center 40%;
  background-size: 60vmax;
  opacity: 0.15;

  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
}

#items:hover > .item {
  opacity: 0.3;
}

#items:hover > .item:hover {
  opacity: 1;
}

#items:hover ~ #back-pattern {
  background-size: 10vmin 10vmin;
  opacity: 0.5;
}

#menu[data-active-index="0"] > #back-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #back-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #back-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #back-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #back-image {
  background-position: center 33%;
}

#menu[data-active-index="1"] > #back-image {
  background-position: center 38%;
}

#menu[data-active-index="2"] > #back-image {
  background-position: center 43%;
}

#menu[data-active-index="3"] > #back-image {
  background-position: center 48%;
}
